* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
header {
    background-color: black;
    padding: 40px 0;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.butttons p{
    color: white;
}
.logo2{
    width: 50px;
}
.logo img {
    height: 46px;
    width: 56px;
}
nav{
    background-color: rgb(26, 22, 22);
    padding: 20px;
}
nav a {
    margin: o 15px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav a:hover {
    color: orangered;
}
.butttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.playnn {
    background-color: orange;
    color: black;
    padding: 12px 22px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
main {
    background-image: url(./PUG.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    text-align: center;
}
.pc {
    background-color: orange;
    padding: 20px 50px;
    font-size: 30px;
}
.console {
    padding: 20px 50px;
    background-color: black;
    color: white;
    font-size: 30px;
}
.erangel {
    color: white;
    opacity: .7;
    background-color: orange;
    padding: 25px 60px;
    font-size: 36px;
    font-weight: 700;
    width: 900px;
    margin: 50px auto;
}
footer {
    height: 60px;
    background-color: black;
    padding: 0 40px;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconsX3{
    display: flex;
    align-items: center;
    gap: 20px;
}
footer img {
    height: 20px;
}